@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Regular.eot') format('embedded-opentype'),
        url('../fonts/Inter-Regular.woff') format('woff'),
        url('../fonts/Inter-Regular.woff2') format('woff2'),
        url('../fonts/Inter-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Medium.eot') format('embedded-opentype'),
        url('../fonts/Inter-Medium.woff') format('woff'),
        url('../fonts/Inter-Medium.woff2') format('woff2'),
        url('../fonts/Inter-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-SemiBold.eot') format('embedded-opentype'),
        url('../fonts/Inter-SemiBold.woff') format('woff'),
        url('../fonts/Inter-SemiBold.woff2') format('woff2'),
        url('../fonts/Inter-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Bold.eot') format('embedded-opentype'),
        url('../fonts/Inter-Bold.woff') format('woff'),
        url('../fonts/Inter-Bold.woff2') format('woff2'),
        url('../fonts/Inter-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

* {
    outline: none !important;
}

button {
    font-family: 'Inter', sans-serif;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
    background: #F3F4F4;
}

body.active {
    overflow: hidden;
}

.btn {
    font-family: 'Inter', sans-serif;
    color: #010101;
    font-size: 14px;
    font-weight: 500;
    line-height: 145%;
    letter-spacing: 0.28px;
    border-radius: 4px;
    background: #F3B95F;
    border: 1px solid transparent;
    transition: all 0.4s;
}

.btn:hover {
    border: 1px solid #E7C08D;
    background: #F3D9B8;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
    transition: all 0.4s;
}

.btn:active {
    border: 1px solid #AF7D26;
    background: #F3B95F;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
    transition: all 0.4s;
}

.btn:disabled {
    background: #DCDDDE;
    transition: all 0.4s;
}

.link {
    color: #010101;
    font-size: 18px;
    font-weight: 500;
    line-height: 145%;
    cursor: pointer;
    transition: all 0.4s;
}

.link:hover {
    color: #F3B95F;
    transition: all 0.4s;
}

.link:active {
    color: #AF7D26;
    transition: all 0.4s;
}

.link:disabled {
    color: #C5C7C8;
    transition: all 0.4s;
}

.link2 {
    transition: all 0.4s;
}

.link2:hover {
    color: #D7A966;
    border-bottom: 1px solid #D7A966;
    transition: all 0.4s;
}

.link2:active {
    color: #D7A966;
    border-bottom: 1px solid #D7A966;
    transition: all 0.4s;
}

.link2:disabled {
    color: #C5C7C8;
    border-bottom: 0;
    transition: all 0.4s;
}

.wrapper {
    width: calc(100% - 144px);
    margin: 0 auto;
}

input {
    padding: 0;
}

/* Sub Header ----------------------------*/
.subheader {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.10);
    background: linear-gradient(90deg, #252729 0.32%, #333942 99.69%);
    padding: 8px 0 7px 0;
}

.subheader__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subheader__promotion {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.subheader__promotion a {
    color: #F3B95F;
    font-weight: 500;
    line-height: 145%;
    letter-spacing: 0.28px;
    padding-bottom: 3px;
    text-decoration: none;
    border-bottom: 1px solid #F3B95F;
}

.subheader__navigation {
    display: flex;
    align-items: center;
}

.subheader__chat {
    padding-right: 32px;
    border-right: 1px solid #4A4C4D;
}

.subheader__chat-btn {
    font-family: 'Inter', sans-serif;
    display: flex;
    align-items: center;
    gap: 4px;
    background: transparent;
    border: none;
    font-size: 14px;
    color: #FFF;
    font-weight: 500;
    line-height: 145%;
    letter-spacing: 0.28px;
    padding: 0;
}

.subheader__chat-btn .icon-NameChat-Round-Dots:before {
    font-size: 18px;
}

.subheader__basket {
    padding: 0 32px;
    border-right: 1px solid #4A4C4D;
    display: flex;
    align-items: center;
    gap: 8px;
}

.subheader__basket-btn {
    display: flex;
    align-items: center;
    gap: 4px;
    background: transparent;
    border: none;
    font-size: 14px;
    color: #FFF;
    font-weight: 500;
    line-height: 145%;
    letter-spacing: 0.28px;
    font-family: 'Inter', sans-serif;
}

.subheader__basket-btn .icon-NameCart-4::before {
    font-size: 20px;
}

.subheader__basket-quantity {
    color: #999B9E;
    font-style: normal;
    font-weight: 500;
    line-height: 145%;
    letter-spacing: 0.28px;
}

.subheader__entrance {
    padding-left: 32px;
}

.subheader__entrance-btn {
    display: flex;
    align-items: center;
    gap: 4px;
    background: transparent;
    border: none;
    font-size: 14px;
    color: #FFF;
    font-weight: 500;
    line-height: 145%;
    letter-spacing: 0.28px;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.subheader__entrance-btn .icon-NameLogin-2::before {
    font-size: 20px;
}

/* Header ----------------------------*/
.header {
    margin-top: 40px;
    padding: 32px 0;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__navigation {
    display: flex;
    align-items: center;
}

.header__navigation-search {
    width: 376px;
    margin-right: 14px;
    height: 56px;
    padding: 16px;
    align-self: stretch;
    border-radius: 4px;
    background: #FFF;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
}

.header__navigation-search-box {
    display: flex;
    align-items: center;
    gap: 9.5px;
}

.header__navigation-search-box input {
    background: transparent;
    border: none;
    color: #707275;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.header__navigation-search-box input::placeholder {
    color: #707275;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.header__navigation-search-box.icon-NameSearch::before {
    color: #707275;
    font-size: 15px;
}

.header__navigation-btn-shop {
    margin-right: 46px;
}

.header__navigation-btn-shop .btn {
    display: flex;
    height: 56px;
    padding: 16px 32px;
    color: #010101;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%;
    letter-spacing: 0.28px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    box-sizing: border-box;
}

.header__navigation-btn-shop .btn span:before {
    font-size: 24px;
}

.header__navigation-menu {
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    transition: all 0.4s;
}

.header__navigation-menu:hover>span {
    color: #F3B95F;
    transition: all 0.4s;
}

.header__navigation-menu:hover>.menu-btn span {
    background: #F3B95F;
    transition: all 0.4s;
}

.header__navigation-menu:active>span {
    color: #AF7D26;
    transition: all 0.4s;
}

.header__navigation-menu:active>.menu-btn span {
    background: #AF7D26;
    transition: all 0.4s;
}

.header__navigation-menu span {
    color: #010101;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%;
    transition: all 0.4s;
}

.menu-btn {
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 2;
    overflow: hidden;
    background: transparent;
}

.search-btn {
    display: none;
}

.menu-btn span {
    width: 20px;
    height: 1.5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #010101;
    border-radius: 5px;
    transition: all 0.4s;
}

.menu-btn span:nth-of-type(2) {
    top: calc(50% - 6px);
}

.menu__overflow {
    height: 100%;
    overflow: auto;
    display: flex;
    padding-right: 72px;
    flex-direction: column;
    align-items: flex-end;
    padding-bottom: 32px;
}

.menu-btn span:nth-of-type(3) {
    top: calc(50% + 6px);
}

.menu {
    display: flex;
    width: 1136px;
    height: 910px;
    overflow: hidden;
    padding: 32px 0 0 72px;
    box-sizing: border-box;
    background: #F3F4F4;
    flex-direction: column;
    align-items: flex-end;
    gap: 16px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 15;
    transform: translateX(100%);
    transition: transform 0.4s;
}

.menu.active {
    transform: translateX(0);
    transition: transform 0.4s;
}

.header__navigation-menu.active .menu-btn span:nth-of-type(1) {
    display: none;
}

.header__navigation-menu.active .menu-btn span:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(45deg);
}

.header__navigation-menu.active .menu-btn span:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(-45deg);
}

.header__submit {
    display: none;
}

.search-open {
    display: none;
}

.close-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #010101;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%;
    background: transparent;
    border: none;
}

/* Menu ----------------------------*/
.menu__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 0 0;
}

.go-to-shop .btn {
    display: flex;
    height: 56px;
    padding: 16px 32px;
    color: #010101;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%;
    letter-spacing: 0.28px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    box-sizing: border-box;
    text-decoration: none;
}

.go-to-shop span:before {
    font-size: 24px;
}

.menu__navigation-none {
    display: none;
}

.menu__navigation ul {
    display: flex;
    align-items: center;
    gap: 48px;
}

.menu__services {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}

.menu__services h2 {
    color: #252729;
    font-size: 32px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 1.28px;
}

.menu__services-box {
    display: flex;
    align-items: flex-start;
    gap: 32px;
}

.menu__services-box article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
    border-radius: 8px;
    border: 1px solid #DCDDDE;
    overflow: hidden;
    cursor: pointer;
}

.menu__services-box-img {
    width: 100%;
    height: 276px;
    overflow: hidden;
}

.menu__services-box-img img {
    width: 100%;
    height: 100%;
    transition: transform 0.4s;
}

.menu__services-box-text {
    display: flex;
    padding: 32px 16px;
    align-items: center;
    justify-content: center;
    background: #FFF;
    width: 100%;
    box-sizing: border-box;
}

.menu__services-box-text h3 {
    color: #010101;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%;
}

.card {
    transition: transform 0.4s;
    border: 1px solid transparent;
}

.card:hover {
    transition: transform 0.4s;
    border-radius: 8px;
    border: 1px solid #F3B95F;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.20);
}

.card:hover .menu__services-box-img img {
    transform: scale(2);
    transition: transform 0.4s;
}

.card:hover .menu__services-box-text h3 {
    color: #F3B95F;
    transition: transform 0.4s;
}

.menu__link {
    color: #010101;
    font-size: 18px;
    font-weight: 500;
    line-height: 145%;
    text-decoration: none;
}

.menu__chat {
    display: flex;
    width: 176px;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    margin-left: auto;
    position: relative;
    background: #38393B;
}

.menu__chat::after {
    content: "";
    position: absolute;
    left: 20px;

    bottom: -6.941px;
    width: 24px;
    height: 24px;
    transform: rotate(-45deg);
    background: #38393B;
}

.menu__chat p {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.menu__chat .chat {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%;
    letter-spacing: 0.28px;
    display: flex;
    align-items: center;
    gap: 4px;
    background: transparent;
    border: none;
    transition: all 0.4s;
}

.menu__chat .chat:hover {
    color: #F3B95F;
    transition: all 0.4s;
}

.menu__chat .chat:active {
    color: #E7C08D;
    transition: all 0.4s;
}

.menu__chat .chat span::before {
    font-size: 20px;
}


/* LOGIN / SIGN UP ----------------------------*/
.authorization {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.authorization__container {
    display: flex;
    width: 476px;
    min-width: 476px;
    max-width: 476px;
    padding: 48px;
    align-items: flex-start;
    gap: 8px;
    border-radius: 8px;
    background: #F3F4F4;
    position: relative;
    box-sizing: border-box;
}

.authorization__close {
    position: absolute;
    top: 16px;
    right: 16px;
    border: none;
    background: transparent;
}

.authorization__close::before {
    font-size: 24px;
}

.authorization__content {
    width: 100%;
}

.authorization__content>p {
    color: #010101;
    text-align: center;
    font-size: 26px;
    font-weight: 600;
    line-height: 130%;
    margin-bottom: 16px;
}

.authorization__content>span {
    color: #5C5F61;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
    width: 100%;
    display: block;
    margin-bottom: 32px;
}

.authorization__login,
.authorization__sign-up {
    display: none;
}

.show-modal {
    display: flex !important;
}

.authorization__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.authorization__form-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.authorization__form-input label {
    color: #252729;
    font-size: 14px;
    font-weight: 500;
    line-height: 145%;
    letter-spacing: 0.28px;
    padding-bottom: 8px;
}

.authorization__form-input .form-group {
    display: flex;
    height: 56px;
    padding: 16px 16px 16px 42px;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    align-items: flex-start;
    gap: 8px;
    position: relative;
    border-radius: 4px;
    background: #FFF;
    width: 100%;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
}

.authorization__form-input-icon {
    position: absolute;
    left: 16px;
    top: 19px;
}

.authorization__form-input-icon::before {
    font-size: 18px;
    color: #707275;
}

.authorization__form-input .form-group input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    color: #707275;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.authorization__form-input .form-group input::placeholder {
    color: #707275;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.password-toggle {
    position: absolute;
    right: 16px;
    top: 16px;
    cursor: pointer;
}

.submit {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    display: flex;
    height: 56px;
    width: 100%;
    padding: 16px 32px;
    gap: 8px;
    box-sizing: border-box;
    border-radius: 4px;
    background: #F3B95F;
    color: #010101;
    font-size: 14px;
    font-weight: 500;
    line-height: 145%;
    letter-spacing: 0.28px;
    border: none;
}

.authorization__or {
    display: flex;
    align-items: center;
    gap: 16px;
    margin: 32px 0 16px 0;
}

.authorization__or p {
    color: #5C5F61;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.authorization__or span {
    width: 100%;
    height: 1px;
    background: #DCDDDE;
}

.submit span::before {
    font-size: 24px;
    color: #010101;
}

.authorization__additional {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 32px;
}

.authorization__additional a {
    display: flex;
    height: 56px;
    min-width: 176px;
    padding: 18px 10px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    border-radius: 4px;
    background: #FFF;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
    display: flex;
    align-items: center;
    gap: 6px;
    color: #4B4B4B;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%;
    letter-spacing: 0.28px;
    text-decoration: none;
    box-sizing: border-box;
    transition: all 0.4s;
    border: 1px solid transparent;
}

.authorization__additional a:hover {
    transition: all 0.4s;
    color: #010101;
    border-radius: 4px;
    border: 1px solid #DCDDDE;
    background: #F3F4F4;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
}

.authorization__additional a:active {
    transition: all 0.4s;
    color: #010101;
    border-radius: 4px;
    border: 1px solid #DCDDDE;
    background: #F3F4F4;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
}

.authorization__change {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 8px;
}

.authorization__change p {
    color: #5C5F61;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.authorization__change button {
    color: #F3B95F;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%;
    letter-spacing: 0.28px;
    background: transparent;
    border: none;
    transition: all 0.4s;
    border-bottom: 1px solid #F3B95F;
    padding: 0;
    padding-bottom: 5px;
}

.authorization__change button:hover {
    color: #D7A966;
    border-bottom: 1px solid #D7A966;
    transition: all 0.4s;
}

.authorization__change button:active {
    color: #D7A966;
    border-bottom: 1px solid #D7A966;
    transition: all 0.4s;
}

input[type="checkbox"] {
    display: none;
}

.checkbox-custom {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #F3B95F;
    border-radius: 3px;
    position: relative;
    cursor: pointer;
    transition: all 0.4s;
}

.checkbox-custom:hover {
    color: #D7A966;
    transition: all 0.4s;
}

.checkbox-custom:active {
    color: #D7A966;
    transition: all 0.4s;
}

.authorization__form-checkbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.authorization__form-checkbox label {
    display: flex;
    align-items: center;
}

.checkbox-custom::after {
    content: "";
    position: absolute;
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    display: none;
}

.fargot-password {
    color: #F3B95F;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%;
    letter-spacing: 0.28px;
    transition: all 0.4s;
    border-bottom: 1px solid #F3B95F;
    text-decoration: none;
    padding-bottom: 5px;
}

.checkbox-value {
    margin-left: 13px;
    color: #252729;
    font-size: 14px;
    font-weight: 500;
    line-height: 145%;
    letter-spacing: 0.28px;
}

.fargot-password:hover {
    color: #D7A966;
    border-bottom: 1px solid #D7A966;
    transition: all 0.4s;
}

.fargot-password:active {
    color: #D7A966;
    border-bottom: 1px solid #D7A966;
    transition: all 0.4s;
}

input[type="checkbox"]:checked+.checkbox-custom::after {
    display: block;
}

.validation-message {
    font-size: 14px;
    color: red;
}

.valid {
    color: green;
}

.input-style {
    transition: all 0.4s;
    cursor: pointer;
}

.input-style:hover {
    transition: all 0.4s;
    border-radius: 4px;
    background: #FFF;
    box-shadow: 0px 0px 4px 0px rgba(243, 185, 95, 0.75);
}

.input-style:focus {
    transition: all 0.4s;
    border-radius: 4px;
    background: #FFF;
    box-shadow: 0px 0px 4px 0px rgba(243, 185, 95, 0.75);
}

.input-style:active {
    transition: all 0.4s;
    border-radius: 4px;
    background: #FFF;
    box-shadow: 0px 0px 4px 0px rgba(243, 185, 95, 0.75);
}

/* Hero ----------------------------*/
.hero {
    padding: 48px 0 96px 0;
    max-width: 100%;
    width: 100%;
    overflow: hidden;
}

.hero__container {
    width: 100%;
    height: 624px;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid #DCDDDE;
    position: relative;
}

.slider-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    bottom: 16px;
}

.slider-pagination span {
    width: 81px;
    display: flex;
    height: 4px;
    border-radius: 999px;
    background: rgba(255, 255, 255, 0.25);
    opacity: 1;
}

.slider-pagination span.swiper-pagination-bullet-active {
    background: #FFF;
}

.hero__arrow {
    display: flex;
    width: 56px;
    height: 56px;
    padding: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    box-sizing: border-box;
    border-radius: 99px;
    background: var(--White-100, #FFF);
    border: 1px solid transparent;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
    transition: all 0.4s;
    cursor: pointer;
}

.hero__arrow:hover {
    transition: all 0.4s;
    border-radius: 99px;
    border: 1px solid #DCDDDE;
    background: #F3F4F4;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
}

.hero__arrow:active {
    transition: all 0.4s;
    border-radius: 99px;
    border: 1px solid #AFB1B3;
    background: #F3F4F4;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
}

.hero__arrow::after {
    content: none;
}

.hero__arrow::before {
    transition: all 0.4s;
    color: #4B4B4B;
}

.hero__arrow:hover::before {
    transition: all 0.4s;
}

.hero__swiper .swiper-button-next:before {
    transform: rotate(180deg);
    color: #010101;
}
.hero__swiper .swiper-button-next, .swiper-button-prev {
    top: 47%;
}

.hero__slide {
    height: 624px;
    position: relative;
}


.hero__content {
    background: linear-gradient(#000000 0%, rgba(0, 0, 0, 0) 65%);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    padding: 99px 140px 65px 140px;
    box-sizing: border-box;
    width: 100%;
    justify-content: center;
}

.hero__content-img {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.hero__content-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero__content h2 {
    color: #FFF;
    font-size: 64px;
    font-weight: 700;
    line-height: 110%;
    max-width: 676px;
}

.hero__content p {
    color: #FFF;
    font-size: 32px;
    font-weight: 400;
    line-height: 120%;
    max-width: 676px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7;
    overflow: hidden;
}

.hero__content a {
    display: flex;
    height: 56px;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    box-sizing: border-box;
    border-radius: 4px;
    background: #F3B95F;
    color: #010101;
    font-size: 14px;
    font-weight: 500;
    gap: 8px;
    line-height: 145%;
    letter-spacing: 0.28px;
    text-decoration: none;
}

.hero__content a span::before {
    font-size: 24px;
    color: #010101;
}



/* Categories ----------------------------*/
.categories {
    padding: 64px 0 128px 0;
}
.categories__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
    flex: 1 0 0;
}
.categories__card {
    display: flex;
    align-items: flex-start;
    border-radius: 8px;
    border: 1px solid #DCDDDE;
    transition: all 0.4s;
    overflow: hidden;
}
.categories__card:hover .categories__card-img img {
    transform: scale(2);
    transition: transform 0.4s;
}
.categories__card:hover .categories__card-img {
    border-right: 1px solid #F3B95F;
}
.categories__card2:hover .categories__card-img {
    border-right: 0px solid #F3B95F;
    border-left: 1px solid #F3B95F;
}
.categories__card-img {
    height: 576px;
    overflow: hidden;
    cursor: pointer;
    width: 50%;
}
.categories__card-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.4s;
}
.categories__card-content {
    width: 50%;
    display: flex;
    padding: 0px 64px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1 0 0;
    gap: 32px;
    align-self: stretch;
    background: #FFF;
}
.categories__card-content h3 {
    color: #010101;
    font-size: 32px;
    font-weight: 600;
    line-height: 120%; 
    letter-spacing: 1.28px;
}
.categories__card-content p {
    color: #252729;
    font-size: 22px;
    font-weight: 400;
    line-height: 140%; 
    letter-spacing: 0.44px;
}
.categories__card-content a {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-direction: row;
    text-decoration: none;
    color: #010101;
    font-size: 18px;
    font-weight: 500;
    line-height: 145%;
}
.categories__card-content a span {
    transform: rotate(180deg);
}

/* Promotion Banner ----------------------------*/
.promotion-banner {
    overflow: hidden;
    height: 376px;
    position: relative;
}
.promotion-banner__content-img {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.promotion-banner__content {
    padding: 47px 0 65px 140px;
    height: 376px;
    display: flex;
    max-width: 676px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    box-sizing: border-box;
}
.promotion-banner__content-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.promotion-banner__content-img::after {
    content: "";
    background: linear-gradient(90deg, #000 40.4%, rgba(102, 102, 102, 0.00) 64.62%);
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
.promotion-banner__content h2 {
    color: #FFF;
    font-size: 48px;
    font-weight: 600;
    line-height: 120%; 
}
.promotion-banner__content p {
    color: #FFF;
    font-size: 24px;
    font-weight: 600;
    line-height: 120%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}
.promotion-banner__content a {
    display: flex;
    height: 56px;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    box-sizing: border-box;
    border-radius: 4px;
    background:#F3B95F;
    color: #010101;
    font-size: 14px;
    font-weight: 500;
    line-height: 145%; 
    letter-spacing: 0.28px;
    text-decoration: none;
}
.promotion-banner__content a span::before {
    font-size: 20px;
}
.promotion-banner-prev {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    z-index: 1;
    left: 20px;
}
.promotion-banner-next {
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
    position: absolute;
    z-index: 1;
    right: 20px;
}
.promotion-banner__swiper .promotion-banner-pagination {
    position: absolute;
    z-index: 1;
    bottom: 16px;
}





@media(max-width: 1279px) {
    header .wrapper {
        width: calc(100% - 32px);
    }
    .subheader .wrapper {
        width: calc(100% - 32px);
    }
    .wrapper {
        width: calc(100% - 64px);
    }

    /* Sub Header ----------------------------*/
    .subheader {
        position: static;
    }

    .subheader__chat {
        display: none;
    }

    .subheader__entrance {
        display: none;
    }

    .subheader__basket {
        padding: 0;
        border: none;
    }

    .subheader__promotion {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    .subheader__container {
        flex-wrap: wrap;
        gap: 16px;
    }

    .subheader__navigation {
        margin-left: auto;
    }

    /* Header ----------------------------*/
    .header {
        padding: 16px 0;
        margin-top: 0;
    }

    .header__navigation-btn-shop {
        display: none;
    }

    .header__navigation-menu>span {
        display: none;
    }

    .search-btn {
        width: 56px;
        height: 56px;
        display: flex;
        position: absolute;
        right: 0px;
        top: 0px;
        z-index: 2;
        overflow: hidden;
    }

    .search-btn.active {
        z-index: 15;
    }

    .header__navigation {
        position: absolute;
        width: 100%;
        justify-content: flex-end;
    }

    .search-open {
        background: transparent;
        border: none;
        display: flex;
        position: absolute;
        right: 66px;
        top: 10px;
    }

    .search-open.active {
        display: none;
    }

    .search-open.icon-NameSearch::before {
        font-size: 32px;
        color: #010101;
    }

    .header__navigation-search {
        width: auto;
        display: flex;
        overflow: hidden;
        background: transparent;
        border: none;
        box-shadow: none;
        padding: 0;
        margin-right: 16px;
    }

    .header__navigation-search.active {
        overflow: visible;
        width: 100%;
        border-radius: 4px;
        background: #FFF;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
        box-sizing: border-box;
        padding: 16px;
        margin-right: 16px;
    }

    .header__navigation-search-box {
        position: relative;
        width: 0;
    }

    .header__navigation-search-box {
        position: relative;
        width: 0;

    }

    .header__navigation-search-box.active {
        width: 100%;
    }

    .header__submit {
        display: flex;
        align-items: center;
        transform: rotate(180deg);
        position: relative;
        height: 100%;
    }

    .header__submit-btn {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    #searchInput {
        width: 100%;
    }

    .header__container {
        position: relative;
        height: 56px;
    }

    .header__navigation-search-box::before {
        opacity: 0;
    }

    .header__navigation-search-box.active::before {
        opacity: 1;
    }



    .search-btn span {
        width: 20px;
        height: 1.5px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #010101;
        border-radius: 5px;
        transition: all 0.4s;
    }

    .search-btn span:nth-of-type(2) {
        top: calc(50% - 6px);
    }

    .search-btn span:nth-of-type(3) {
        top: calc(50% + 6px);
    }

    .search-btn.active span:nth-of-type(1) {
        display: none;
    }

    .search-btn.active span:nth-of-type(2) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(45deg);
    }

    .search-btn.active span:nth-of-type(3) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(-45deg);
    }

    .menu-btn {
        width: 56px;
        height: 56px;
    }

    .header__logo {
        width: 125px;
        height: 44px;
    }

    .header__logo a {
        display: flex;
        width: 100%;
        height: 100%;
    }

    .header__logo a img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .menu {
        display: flex;
        height: 100vh;
        overflow: scroll;
        width: 350px;
        min-width: 320px;
        max-width: 1215px;
        padding: 16px 0 32px 16px;
        flex-direction: column;
        align-items: flex-end;
        gap: 16px;
        background: #F3F4F4;
    }

    .menu__content {
        gap: 48px;
    }

    .menu__navigation ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
    }

    .menu__services {
        gap: 24px;
        width: 100%;
    }

    .menu__services h2 {
        color: #252729;
        font-size: 24px;
        font-weight: 700;
        line-height: 120%;
        letter-spacing: -0.96px;
    }

    .menu__services-box {
        display: flex;
        align-items: flex-start;
        align-content: flex-start;
        gap: 16px;
        flex-wrap: wrap;
        width: 100%;
    }

    .menu__services-box article {
        display: flex;
        min-width: 224px;
        flex-direction: column;
        align-items: flex-start;
        flex: 1 0 0;
    }

    .menu__overflow {
        overflow: inherit;
        padding-right: 16px;
    }

    .close-btn {
        font-size: 0;
        width: 56px;
        height: 56px;
        padding: 16px;
        display: block;
        gap: 8px;
        border-radius: 4px;
        background: #F3B95F;
        margin-bottom: 16px;
        transition: all 0.4s;
        border: 1px solid transparent;
    }

    .close-btn:hover {
        transition: all 0.4s;
        border-radius: 4px;
        border: 1px solid #E7C08D;
        background: #F3D9B8;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
    }

    .close-btn:active {
        transition: all 0.4s;
        border-radius: 4px;
        border: 1px solid #AF7D26;
        background: #F3B95F;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
    }

    .close-btn span::before {
        font-size: 24px;
    }

    .menu__services-box-img {
        height: 224px;
    }

    .menu__navigation-none {
        display: flex;
    }

    .menu__navigation-none button {
        color: #010101;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 145%;
        background: transparent;
        border: none;
    }

    .menu__navigation-none button .icon-NameLogin-2:before {
        font-size: 24px;
    }

    /* LOGIN / SIGN UP ----------------------------*/
    .authorization__container {
        display: flex;
        width: 320px;
        min-width: 320px;
        max-width: 800px;
        padding: 32px 24px 48px 24px;
        align-items: flex-start;
    }

    .authorization__additional {
        flex-wrap: wrap;
    }

    .authorization__form-checkbox {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    .authorization__form {
        gap: 20px;
    }

    .authorization__content>p {
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        letter-spacing: -0.96px;
    }

    .authorization__content>span {
        margin-bottom: 24px;
    }

    .authorization__form-input label {
        padding-bottom: 16px;
    }

    /* HERO ----------------------------*/
    .hero {
        padding: 24px 0 48px 0;
    }

    .hero__content {
        background: linear-gradient(0deg, #000 0%, rgba(102, 102, 102, 0.00) 100%);
        padding: 0 16px 108px 16px;
        gap: 16px;
        align-items: center;
        justify-content: flex-end;
    }

    .hero__content h2 {
        font-size: 32px;
        font-weight: 700;
        line-height: 110%;
        text-align: center;
    }

    .hero__content p {
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 145%;
        letter-spacing: 0.28px;
        text-align: center;
    }

    .hero__arrow {
        width: 44px;
        height: 44px;
        padding: 12px;
        bottom: 39px;
        top: auto;
    }

    .hero__navigation {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 40px;
        width: auto;
        z-index: 2;
        display: flex;
        align-items: center;
        gap: 16px;
    }

    .hero__swiper .swiper-button-prev {
        position: static;
    }

    .hero__swiper .swiper-button-next {
        position: static;
    }

    .hero .wrapper {
        width: calc(100% - 64px);
    }

    .hero__container {
        height: 576px;
    }

    .hero__slide {
        height: 576px;
    }

    .slider-pagination span {
        width: 72px;
    }

    .hero__swiper .slider-pagination {
        gap: 4px;
        bottom: 19px;
        padding: 0 7px;
        box-sizing: border-box;
    }

    .hero__content p {
        -webkit-line-clamp: 10;
    }

    .categories {
        padding: 44px 0 64px 0;
    }
    .categories__container {
        display: flex;
        max-width: 800px;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
        flex: 1 0 0;
    }
    .categories__card {
        max-width: 100%;
        display: flex;
        min-width: 256px;
        flex-direction: column;
        align-items: flex-start;
        border-radius: 8px;
        border: 1px solid #DCDDDE;
    }
    .categories__card-img {
        height: 256px;
        width: 100%;
    }
    .categories__card-content {
        width: 100%;
        display: flex;
        padding: 24px 16px;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        box-sizing: border-box;
    }
    .categories__card-content h3 {
        font-size: 24px;
        font-weight: 600;
        line-height: 120%;
    }
    .categories__card-content p {
        font-size: 14px;
        font-weight: 400;
        line-height: 140%; 
    }
    .categories__card2 {
        flex-direction: column-reverse;
    }

    /* Promotion Banner ----------------------------*/
    .promotion-banner__content {
        display: flex;
        max-width: 800px;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        gap: 16px;
        padding: 16px 16px 96px 16px;
        box-sizing: border-box;
    }
    .promotion-banner__content h2 {
        font-size: 32px;
        font-weight: 700;
        line-height: 110%;
        text-align: center;
    }
    .promotion-banner__content p {
        font-size: 14px;
        font-weight: 500;
        line-height: 145%; 
        letter-spacing: 0.28px;
        text-align: center;
    }
    .promotion-banner .hero__navigation {
        bottom:35px;
    }
    .promotion-banner-prev {
        transform: translateY(0%);
        position: static;
    }
    .promotion-banner-next {
        position: static;
        transform: translateY(0%) rotate(180deg);
        
    }
    .promotion-banner__content-img::after {
        background: linear-gradient(0deg, #000 0.06%, rgba(102, 102, 102, 0.00) 99.93%);
    }
    .promotion-banner__content a {
        height: 44px;
        padding: 12px;
    }
    .promotion-banner__content a span::before {
        font-size: 14px;
    }
}